body /*pas à moi*/
   
{
	 margin:auto;
    background-color:#F4ECF7;   
    width:1080px;
    text-align:center;
    line-height:150%;
    max-width:1200px;

}

h1 /*pas à moi*/
{
	font-family: Helvetica, sans-serif;
}

a
{
	text-decoration : none;  
	color : #9D58A8;
}

.logo /*pas à moi*/
{
    position: absolute;
    top:0%;
    left:48%;
    margin-top: 10px;
    float: left;
    width: 100%;
    max-width: 160px;
    height: 160px;
    z-index:5;
}

.infoperso
{
	color:orange;
}

.cpresse
{
	border:3px solid black;
	background-color: beige; 
	text-align: left;
	padding-left:3px;
}

.titrecp
{
	color:red;
	font-size:133%;
}


.flotte
{
	float:right;
}

.flotte img
{
	height:169px;
}

.rogne img
{
	width:280px;
	overflow:hidden;
}